@font-face {
  font-family: "Avenir Next Rounded";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("avenir-next-rounded-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir Next Rounded";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("avenir-next-rounded-regular-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir Next Rounded";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("avenir-next-rounded-medium.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir Next Rounded";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("avenir-next-rounded-medium-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir Next Rounded";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("avenir-next-rounded-semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir Next Rounded";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("avenir-next-rounded-semibold-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir Next Rounded";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("avenir-next-rounded-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir Next Rounded";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("avenir-next-rounded-bold-italic.woff2") format("woff2");
}
